################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Queendom Tales/Library
/Queendom Tales/.vs/Queendom Tales/v14/.suo
/Queendom Tales/Temp
